@model RushHour.ViewModels.Home.StatusVM
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>

@if (Convert.ToBoolean(Model.status))
{
    if (Model.message != null)
    {
        <p>Success : Your Account has been activated successfully , click @Html.ActionLink("here","Login") to Login</p>
    }
}
else
{
    <p>Error : @Model.message</p>
}

